<NomadaWeb.PageComponents.top_bar />
<NomadaWeb.PageComponents.navigation />
<NomadaWeb.PageComponents.hero />
<NomadaWeb.PageComponents.portfolio />
<NomadaWeb.PageComponents.about />
<NomadaWeb.PageComponents.contact />
<NomadaWeb.PageComponents.page_footer />
